.container {
  border: 4px solid #b1b1b1; /* Viền xám ngoài cùng */
  padding: 40px;
  max-width: 500px;
  margin: 20px auto;
  font-family: serif; /* Font chữ có chân giống trong hình */
}

.title {
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 20px;
}

.user-list {
  list-style-type: disc; /* Hiển thị dấu chấm tròn */
  padding-left: 60px;
}

.user-item {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}